body{
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
nav{
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.display-time{
    border-width: medium;
      border-color: black;
      font-size: 25px;
      background-color: white;
      margin-left: 80%;
      border-style: 1 solid;
    }
    .task{
        /* background: rgb(238,174,202);
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
      background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(220,188,68,1) 85%, rgba(253,187,45,1) 100%);
      border-style: 2px solid;
      border-color: orange;
        margin: 0 20%  55px 20%;
        box-shadow: 10px 15px 20px rgba(238,174,202,1) ;
      border-radius: 20px;
        text-align: center;
        font-size: 25px;
        padding: 15px 0px 10px 0px;
  
      }
      .todo-title{
        background-color: green;
        margin-top: 0;
      /* padding: 0 500px 0 540px; */
      }
      .add-task{
        background-color: yellow;
        padding:5px 20px 5px 20px;
        border: none;
        font-size: 40px;
        margin-top: 10px;
        border-radius: 50%;
      }
      .todo-input{
        border-radius: 10px;
        box-sizing: border-box;
        border-style: solid;
        font-stretch: expanded;
      font-size: 20px;
        width: 60%;
        padding: 20px;
      }
      .todo-list{
        /* box-shadow: 10px 15px 20px rgb(200, 174, 238) ; */
         text-align: center;
        border-style: 1px solid;
        border-color: green;
         margin:0 10% 10px 10%;
        background-color: white;
          padding:10px 70px 80px 70px;
          /* width: 300px; */
          border-radius: 15px;
        }
        .checkbox{
          /* padding: 15px; */
            display: inline-block;
            margin-left: 6%;
            font-size: large;
        }
        .remove-task{
            margin-left: 35%;

        }

      .add-task:hover {background-color: #87CEFA}
      .task-div{
        border: 1px solid;
        border-color: powderblue;
      }
      .time{
        margin-top: 1px;
font-family: Georgia, 'Times New Roman', Times, serif;    
color: seagreen ;

}
.display-time{
  margin-right: 15px;
    border: 2px solid;
    /* border-radius: 100%; */
    padding: 25px 10px 25px 10px;
    box-shadow: 5%;
}
.task-div{
  transition: transform 0.3s ease-in-out;
}
/* .task-div:hover, .task-div:active {height: 15%;} */
.task-div:hover {
  transform: scale(1.07); /* Scale the element to 120% on hover */
}
.header{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.header-text{
  border: 3px solid;
  display: inline-block;
}

/* .check-box:checked + .checkbox {
  text-decoration: line-through;
}  */
.lineThrough{
  text-decoration: line-through;
}