body{
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
nav{
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
a{
  color: #87CEFA;
  font-family:fantasy;
  font-size: 50px;
  margin: 0 2px 0 2px;
  padding:0 35px 0 35px;
}
a:hover{
  border: 5px solid orange;
  background-color: seagreen;

}
.display-time{
  /* display: inline-block; */
    /* border-width: medium; */
      border-color: black;
      font-size: 25px;
      background-color: white;
      margin:75% 30% 1% 70% ;
      border-style: 1 solid;
    }
    .task{
        /* background: rgb(238,174,202);
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
      background: rgb(34,193,195);
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(220,188,68,1) 85%, rgba(253,187,45,1) 100%);
      border-style: 2px solid;
      border-color: orange;
        margin: 0 20%  55px 20%;
        box-shadow: 10px 15px 20px rgba(238,174,202,1) ;
      border-radius: 20px;
        text-align: center;
        font-size: 25px;
        padding: 15px 0px 10px 0px;
  
      }
      .todo-title{
        background-color: green;
        margin-top: 0;
      /* padding: 0 500px 0 540px; */
      }
      .add-task{
        background-color: yellow;
        padding:5px 20px 5px 20px;
        border: none;
        font-size: 40px;
        margin-top: 10px;
        border-radius: 50%;
      }
      .todo-input{
        border-radius: 10px;
        box-sizing: border-box;
        border-style: solid;
        font-stretch: expanded;
      font-size: 20px;
        width: 60%;
        padding: 20px;
      }
      .todo-list{
        /* box-shadow: 10px 15px 20px rgb(200, 174, 238) ; */
         text-align: center;
        border-style: 1px solid;
        border-color: green;
         margin:0 10% 10px 10%;
        background-color: white;
          padding:10px 70px 80px 70px;
          /* width: 300px; */
          border-radius: 15px;
        }
        .checkbox{
          /* padding: 15px; */
          font-family: fantasy;
            display: inline-block;
            margin-left: 6%;
            font-size: large;
        }
        .remove-task{
          font-size: small;
          background-color: rgb(239, 108, 108);
          color: white;
            margin-left: 35%;

        }

      .add-task:hover {background-color: #87CEFA}
      .task-div{
        border: 1px solid;
        border-color: powderblue;
      }
      .time{
        margin-top: 1px;
font-family: Georgia, 'Times New Roman', Times, serif;    
color: seagreen ;

}
.display-time{
  margin-right: 15px;
    border: 2px solid;
    /* border-radius: 100%; */
    padding: 25px 10px 25px 10px;
    box-shadow: 5%;
}
.task-div{
  transition: transform 0.3s ease-in-out;
}
/* .task-div:hover, .task-div:active {height: 15%;} */
.task-div:hover {
  transform: scale(1.07); /* Scale the element to 120% on hover */
}
.header{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.header-text{
  border: 3px solid;
  display: inline-block;
}

/* .check-box:checked + .checkbox {
  text-decoration: line-through;
}  */
.lineThrough{
  text-decoration: line-through;
}
.note{
  text-align: center;
 
}
.note-container{
    width: 300px;
  text-align: center;
  margin: 2px;
  padding: 10px;
  display: inline-block;
  border: 2px solid;
  background-color: white;
  
}
.note-list{
  /* text-align: center; */
  /* width: 200px; */
  margin: 30px 0 20px 0;
}
.note-container{
  transition: transform 0.3s ease-in-out;
}
/* .task-div:hover, .task-div:active {height: 15%;} */
.note-container:hover {
  transform: scale(1.07); /* Scale the element to 120% on hover */
  border: 3px solid;
  border-color: #00FF66;
}
.create-note{
  margin-top: 30px;
  padding: 10px;
}
.note-form{
  border: 9px solid orange;
  /* border-color: rgb(237, 245, 4); */
  background-color: white;
  margin: 30px 250px 30px 250px;
  padding: 30px 0 30px 0;
}
.note-tittle{
  margin-bottom: 30px;
  font-size: 25px;
}
.remove-note{
  background-color: orange;
  border: 1px solid;
  font-family: fantasy;
  font-size: 10px;
  padding: 10px;
}
.swich-forms{
  color: white;
  background-color: goldenrod;
  border: 5px solid black;
  padding: 15px;
  font-size: x-large;
  font-family: fantasy;
}
.swich-forms:hover{
  background-color: #C1F2B0;
  color: black;
}
.note-list-title{
  background-color: antiquewhite;
  color: #434343;
  padding: 15px;
  font-size: 55px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.the-date{
  font-family: fantasy;
  color: gray;
}
.create-note{
  background-color: orange;
  border: 1px solid;
  border-radius: 5px;
  font-family: fantasy;
  font-size: 20px;
  padding: 10px;
}
.create-note:hover{
  background-color: whitesmoke;
}
.note-form{
  padding: 10px;
  margin: 5px;
}